.tableStyle{
    background-color: white;
    color: rgba(20, 19, 19, 0.931);
}
.darkfonts{
    border-color: grey;
    color: rgba(20, 19, 19, 0.931);
}
.panel{
    padding: 10px;
}
.marginTop{
    margin-top: 5px;
}
.marginRight{
    margin-right: 5px;
}